<div class="wrapper">
  <header class="section-pink header">
    <div class="container header__container">
      <div class="logo header__logo">
        <img src="../assets/images/logo@2x.png" alt="logo" class="logo__img">
        <img id="menu-burger" src="../assets/images/burger.png" alt="burger" class="header__burger">
      </div>
      <nav id="menu-ul" class="menu">
        <div class="menu__close">
          <svg viewBox="0 0 492 492">
            <g>
              <g>
                <path d="M300.188,246L484.14,62.04c5.06-5.064,7.852-11.82,7.86-19.024c0-7.208-2.792-13.972-7.86-19.028L468.02,7.872
			c-5.068-5.076-11.824-7.856-19.036-7.856c-7.2,0-13.956,2.78-19.024,7.856L246.008,191.82L62.048,7.872
			c-5.06-5.076-11.82-7.856-19.028-7.856c-7.2,0-13.96,2.78-19.02,7.856L7.872,23.988c-10.496,10.496-10.496,27.568,0,38.052
			L191.828,246L7.872,429.952c-5.064,5.072-7.852,11.828-7.852,19.032c0,7.204,2.788,13.96,7.852,19.028l16.124,16.116
			c5.06,5.072,11.824,7.856,19.02,7.856c7.208,0,13.968-2.784,19.028-7.856l183.96-183.952l183.952,183.952
			c5.068,5.072,11.824,7.856,19.024,7.856h0.008c7.204,0,13.96-2.784,19.028-7.856l16.12-16.116
			c5.06-5.064,7.852-11.824,7.852-19.028c0-7.204-2.792-13.96-7.852-19.028L300.188,246z"/>
              </g>
            </g>
          </svg>
        </div>
        <ul class="menu__list menu-ul-hidden">
          <li>
            <a href="#" class="menu__action" (click)="scrollTo(productsElement)">Пироженки</a>
          </li>
          <li>
            <a href="#" class="menu__action" (click)="scrollTo(aboutElement)">О нас</a>
          </li>
          <li>
            <a href="#" class="menu__action" (click)="scrollTo(orderElement)">Оформить заказ</a>
          </li>
        </ul>
      </nav>
      <div class="phone header__phone">{{phone|phoneNumber}}</div>
    </div>
  </header>

  <section class="section-pink main">
    <div class="container main__container">
      <div class="main__info">
        <h2 class="main__header">Мягкие французские
          пироженки Macaroons</h2>
        <div class="main__article">Побалуйте себя и своих близких самыми вкусными и ароматными домашними
          пироженками
          Macaroon!
        </div>
        <button class="btn btn-image main__btn" (click)="scrollTo(productsElement)" ButtonDir [buttonDirBgColor]="'#2e5aca'"
                [buttonDirDefaultBgColor]="'#8129ad'">Выбрать макарун</button>
      </div>
      <div class="main__image-wrapper">
        <div class="main__image-animation">
          <img src="../assets/images/macaroon1.png" alt="macaroons" class="main__image-img">
        </div>
      </div>
    </div>
  </section>
</div>

<section id="about_us" class="about section-white" #aboutElement>
  <div class="container about__container">
    <div class="top-container">
      <div class="about__info">
        <h2 class="about__heading">Мы печём для вас
          вкуснейшие макаруны
          уже более 10 лет</h2>
        <div class="about__article">Все пироженки мы готовим только из натуральных и качественных продуктов, без
          консервантов, ароматизаторов, красителей. Используем в приготовлении сливочное масло 82,5%, без
          дрожжей, маргарина, разрыхлителей и улучшителей муки.
        </div>
      </div>
      <div class="about__image">
        <img src="../assets/images/macaroon2.png" alt="macaroon" class="about__image-img">
      </div>
    </div>
    <ul class="description">
      <advantages *ngFor="let advantage of advantages;let i=index" [advantage]="advantage" [index]="i"></advantages>

    </ul>
  </div>
</section>

<section id="cakes" class="section-pink products" #productsElement>
  <div class="container products__container">
    <h2 class="products__heading">Выберите свой макарун</h2>
    <div class="products__cards">
      <card *ngFor="let product of products" [card]="product"
            (addToCartEvent)="addToCart($event,orderElement)">
      </card>
    </div>
  </div>
</section>

<section id="place_order" class="order section-white" #orderElement>
  <div class="container order__container ">
    <div class="order__image">
      <div class="order__image-strawberry">
        <img src="../assets/images/strawberry.png" alt="strawberry">
      </div>
      <div>
        <img src="../assets/images/macaroon3.png" alt="macaroon" class="order__image-img">
      </div>
    </div>
    <div class="order__info">
      <h2 class="order__heading">Закажите макарун!</h2>
      <div class="order__article">Выберите понравившийся макарун, заполните форму и ожидайте звонка нашего
        пекаря!
      </div>
      <form action="" class="order__form">
        <label for="choice" class="form__choice bold">Ваш выбор</label>
        <input type="text" name="choice" id="choice" placeholder="Напишите, что хотите заказать..."
               class="form__textarea form-all" [(ngModel)]="formValues.productTitle">
        <label for="contacts" class="form__contacts bold">Заполните данные для заказа</label>
        <input type="text" id="contacts" name="contacts" placeholder="Ваше имя"
               class="form__contact form-all" [(ngModel)]="formValues.name">
        <input type="text" id="phone" name="phone" placeholder="+375 (__) ___ - __ - __"
               class="form__phone form-all" [(ngModel)]="formValues.phone">
        <button type="button" class="btn btn-image form__btn" (click)="createOrder()"  ButtonDir [buttonDirBgColor]="'#0e3db4'"
                [buttonDirDefaultBgColor]="'#7e0cb8'">Оформить заказ</button>
      </form>
      <div class="order__image-strawberry2">
        <img src="../assets/images/strawberry2.png" alt="strawberry">
      </div>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container footer__container">
    <div class="logo footer__logo">
      <img src="../assets/images/logo@2x.png" alt="logo" class="logo__img">
      <span class="rights">Все права защищены, 2020</span>
    </div>
    <div class="footer__social">
      <img src="../assets/../assets/images/instagram%20(1)%C2%A0—%20копия.png" alt="instagram" class="social-img">
      <span class="instagram">{{instagram}}</span>
    </div>
    <div class="phone footer__phone">{{phone|phoneNumber}}</div>
    <div class="rights2">Все права защищены, 2020</div>
    <div *ngIf="showGift" class="footer__gift-parent">
      <div class="gift-message">
        <span>{{this.cartService.getAmount()|ruble:'руб' }}</span>
      </div>
      <div class="gift-image">
        <span>{{this.cartService.getCounter()}}</span>
        <img src="../assets/images/cart.png" alt="present">
      </div>
    </div>
  </div>
</footer>
