/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}
.btn-image{
  background-image: -webkit-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
}
.btn {
  background-color: blue;
  border-radius: 30px;
  font-size: 18px;
  font-family: "Gilroy-Bold", sans-serif;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  outline: none;
  border: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-image: -moz-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(113, 8, 30) 0%, rgb(215, 72, 92) 100%);
  box-shadow: 0 5px 9px 1px rgba(130, 19, 40, 0.5);
}

